<div id=blahmedium>
  <h1>
    <a href="/">Home</a>
  </h1>
</div>
<div id=blah>
  <h1>
    <a href="/blogPage">Blogs</a>
  </h1>
</div>
<div id=blah>
  <h1>
    <a href="/users">Users</a>
  </h1>
</div>
<div id=blahhuge>
  <h1>
    <a href="/adduserpage">Add User</a>
  </h1>
</div>
<div id=blahbig>
  <h1>
    <a href="/uitests">UItests</a>
  </h1>
</div>
