
<link rel="stylesheet" href="/css/adduserpage.css"></link>
<script type="text/javascript" src="/js/AddUserPage.js"></script>

<div id=center2>
  {{bodytext}}

<form>
  <div class="form-group">
Name: <input type="text" id="name" />
<br>
City: <input type="text" id="city" />
<br>
Post: <input type="text" id="blogpost" />
<br>
  </div>
</form>

<div id=center3>
</div>

<div class="btn btn-default" id="clickmebutton2">Submit</div>

</div>
