<link rel="stylesheet" href="/css/uitests.css"></link>
<script type="text/javascript" src="/js/uitests.js"></script>

<br>

<div id=paragraphOne>
  {{bodytext}}
</div>

<br>
<br>

<div class="btn btn-default" id="clickmebutton">Want more color?</div>

<div class="largefont">
  This is the text of the large font I think lol.
</div>

<!--<table id=whitetable>
<div style="background-image:url(http://wallpapercave.com/wp/C10ltIf.jpg);width:2141px;height:1400px;">
  <br>
  <tr>
    <th>Entry Number</th>
    <th>Things I need to do</th>
    <th>Things I did last weekend</th>
    <th>Things I want to do</th>
  </tr>
  <tr>
    <td> #1 </td>
    <td> Some Stuff like College </th>
    <td> Maybe some Rocket League or something </th>
    <td> Probably more Rocket League</td>
  </tr>
</table>
-->
