div {
  color: white;
}

#paragraphOne {
  color: white;
  background-color: #FF4F4F;
  width: 320px;
  height: 48px;
  border-radius: 5px;
  padding: 5px;
}

.largefont {
  font-size: 80px;
}

.title {
  color: red;
  text-align: center;
}

#clickmebutton {
  background-color: pink;
  text-align: center;
}
